body{
    background-image: url(https://th.bing.com/th/id/OIP.5_YKquMn3PPVFtN50LwqnAHaC-?w=334&h=140&c=7&r=0&o=5&dpr=1.3&pid=1.7);
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    padding-left: 600px;
    color: white;
    background-color: red;
}
#name{
    margin-left: 600px;
    border: 2px solid black;
}
#name2{
    margin-left: 600px;
    border: 2px solid black;
    margin-left: 10px;
}
#email{
    margin-left: 600px;
    margin-top: 10px;
    border: 2px solid black;
    /* width: 347px; */
}
#per{
    margin-left: 600px;
    margin-top: 10px;
    border: 2px solid black;
}
#per2{
    margin-left: 600px;
    margin-top: 10px;
    border: 2px solid black;
}
#file{
    margin-left: 600px;
    margin-top: 10px; 
    /* border: 2px solid black; */
}
.foot{
    margin-top: 200px;
}